@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@300;400;600;700&family=Poppins:wght@200;300;400;600;700&display=swap');

body {
    padding: 0;
    margin : 0;
}

.flex_container {

    display      : flex;
  
    margin-bottom: 100px;
}

.banner h1 {

    font-family: 'Montserrat';
    font-style : normal;
    font-size  : 40px;
    font-weight: bold;

    text-align: left;
    color     : #828282
}

h2 {
    font-family: 'Montserrat';
    font-style : normal;
    font-size  : 30px;
    font-weight: bold;
    text-align : left;
    color      : #828282
}

p {
    font-family   : "Montserrat";
    font-weight   : 500;
    font-size     : 18px;
    line-height   : 160%;
    letter-spacing: -0.02em;
    color         : #828282;
    text-align    : justify;
}

button {

    padding   : 18px 40px;
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
    ;
    border       : none;
    font-size    : 20px;
    color        : #fff;
    border-radius: 100px;
    background   : linear-gradient(88.33deg, #fba24a -7.64%, #FF1E1E 145.94%);


}

.half_width {
    width      : 50%;
    margin: 5%;
}

.half_width img {
    width: 70%;
}

.orange span {
    color: #FB8B47
}

.about {
    background-image : url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;

}
.about img{
    margin-left: 200px;
    margin-right: 200px;
    width: 50%!important;
    align-items: center;
}
